// Custom styles.

#mydivshow{opacity: 0;}

// 文章内链接文本样式
.post-body p a{
  color: #05080885;
  border-bottom: none;
  font-weight: bold
  &:hover {
    color: #0593d3;
    border-bottom: none;
    border-bottom: 1px solid #0593d3;
    font-weight: bold
  }
}


@font-face {
    font-family: SourceCodeVariable-Roman;
    src: url('/fonts/SourceCodeVariable-Roman.ttf');
}


// 页面头部背景
.header {  background:url('/images/header_background.jpg');}

// 子标题
.site-subtitle{ font-size: 15px; color: white; }

// 标题
.site-title {
    font-size: 40px;
    font-weight: bold;
    font-family: 'SourceCodeVariable-Roman' !important;
}

// 标题背景
.brand{
    background: transparent;
}

// 菜单栏
.menu {
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
    background: rgba(240, 240, 240, 0.7);
    margin-left: auto;
    margin-right: auto;
    width: 530px;
    border-radius: initial;
}

// 菜单图表链接 以及 超链接样式
a {
    color: rgba(0,0,0,0.8);
}
a:hover {
    color: #ff106c;
    border-bottom-color: #ff106c;
}

// 菜单字体大小
.menu .menu-item a {
    font-size: 14px;
}
.menu .menu-item a:hover {
    border-bottom-color: #ff106c;
}


// 文章背景框框
.post {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 18px;
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, 0.8);
   }

// 站点描述
.site-description {
    font-size: 16px;

}

// 头部inner
.header-inner {
    padding: 45px 0 25px;
    width: 700px;
}

// 作者名
.site-author-name {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 20px;
}

// 文章之间的分割线
.posts-expand .post-eof {
    margin: 40px auto 40px;
    background: white;
}

// 按钮样式
.btn {
    margin-top: 20px;
}

// ``代码块样式
code {
    color: #E6006B;
    border-radius: 3px;
}


body {
    color: #444;
    font-size: 16px;
}

.main-inner { 
    background: #ffffffa6;
}

.back-to-top {
    background: none;
}

.sidebar {
    background: #000000e8;
}

